@keyframes slide_in_left {
    from {
        opacity: 0%;
        transform: translate(-25%, 0);
    }

    to {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes slide_in_top {
    from {
        opacity: 0%;
        transform: translate(0, -25%);
    }

    to {
        opacity: 100%;
        transform: translate(0, 0);
    }
}