@keyframes fade_in {
    from {
        visibility: visible;
        opacity: 0%;
    }
    to {
        visibility: visible;
        opacity: 100%;
    }
}

@keyframes fade_out {
    from {
        visibility: visible;
        opacity: 100%;
    }
    to {
        visibility: visible;
        opacity: 0%;
    }
}

@keyframes slide_in_left {
    from {
        visibility: visible;
        opacity: 0%;
        transform: translate(-25%, 0);
    }
    to {
        visibility: visible;
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes slide_in_top {
    from {
        visibility: visible;
        opacity: 0%;
        transform: translate(0, -25%);
    }
    to {
        visibility: visible;
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes slide_out_left {
    from {
        visibility: visible;
        opacity: 100%;
        transform: translate(0, 0);
    }
    to {
        visibility: visible;
        opacity: 0%;
        transform: translate(-25%, 0);
    }
}

@keyframes snack_bar_show {
    from {
        visibility: visible;
        opacity: 0%;
        transform: translate(0, 25%);
    }
    to {
        visibility: visible;
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes snack_bar_hide {
    from {
        visibility: visible;
        opacity: 100%;
        transform: translate(0, 0);
    }
    to {
        visibility: visible;
        opacity: 0%;
        transform: translate(0, 25%);
    }
}
  
@keyframes ripple {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}