@media only screen and (orientation: landscape) {
    #div_document_front_page_text_container {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    }

    #div_document_front_page_text {
        top: 50%;
        translate: 0 -50%;
        left: 10%;
        right: 60%;
        animation: slide_in_left 1s;
    }

    #img_document_front_page_image {
        position: absolute; 
        width: 50%;
        max-height: 100%;
        left: 50%;
        translate: 0 -50%;
        top: 50%;
        object-fit: contain;
    }

    #paragraph_description_1 {
        visibility: hidden;
        animation: slide_in_left 0.5s;
        animation-delay: 0.5s;
    }

    #paragraph_description_2 {
        visibility: hidden;
        animation: slide_in_left 0.5s;
        animation-delay: 0.75s;
    }

    #paragraph_description_3 {
        visibility: hidden;
        animation: slide_in_left 0.5s;
        animation-delay: 1s;
    }
}