body {
    font-family: 'Noto Sans TC', sans-serif;
}

#div_autoplay_dim {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.2s;
    visibility: hidden;
}

#div_autoplay_dim.show {
    animation: fade_in 0.2s;
    visibility: visible;
}

#div_autoplay_dim.hide {
    animation: fade_out 0.2s;
    visibility: hidden;
}

#div_autoplay_dim:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#div_autoplay_dim:active {
    background-color: rgba(0, 0, 0, 0.8);
}

#div_top_app_bar {
    position: absolute;
    width: 100%;
    height: 56px;
    background-color: white;
    box-shadow: 0 0 8px black;
}

#div_menu {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

#div_menu.show {
    animation: fade_in 0.4s;
    visibility: visible;
}

#div_menu.hide {
    animation: fade_out 0.4s;
    visibility: hidden;
}

#div_menu_container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 56px;
    min-width: 300px;
    background-color: white;
    box-shadow: 0 0 4px black;
}

#div_menu_container.show {
    animation: slide_in_left 0.4s;
}

#div_menu_container.hide {
    animation: slide_out_left 0.4s;
}

li.menu_item {
    height: 56px;
    padding-left: 16px;
    line-height: 56px;
    cursor: pointer;
    list-style: none;
    transition: 0.2s;
}

li.menu_item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

li.menu_item:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.snack_bar {
    position: fixed;
    right: 16px;
    bottom: 16px;
    min-width: 300px;
    max-width: calc(100% - 64px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 16px;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(50, 50, 50);
    border-radius: 8px;
    box-shadow: 0 0 8px black;
    color: white;
    visibility: hidden;
}

.snack_bar.show {
    animation: snack_bar_show 0.2s;
    visibility: visible;
}

.snack_bar.hide {
    animation: snack_bar_hide 0.2s;
    visibility: hidden;
}

#div_title {
    position: absolute;
    top: 50%;
    padding-left: 8px;
    transform: translateY(-50%);
    display: inline-block;
    font-size: large;
}

#div_document {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    margin-top: 56px;
    overflow: auto;
    scroll-behavior: smooth;
}

#div_document_front_page_image {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#div_document_front_page_text_container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#div_document_front_page_text {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

#div_document_characters {
    position: relative;
    width: 100%;
    height: 100%;
}

#div_document_characters_title {
    position: absolute;
    top: 0;
    left: 32px;
    width: 128px;
    height: 56px;
    padding: 16px;
    font-size: x-large;
    text-align: center;
    background-color: skyblue;
    border-bottom-left-radius: 32px 32px;
    border-bottom-right-radius: 32px 32px;
}

#div_document_characters_title.show {
    animation: slide_in_top 1s;
}

#div_document_about {
    position: relative;
    width: 100%;
    height: 100%;
}

.button_circle {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
}

.button_circle:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.button_circle:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.ripple {
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ripple:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 1px solid skyblue;
    animation: ripple 2s infinite;
    z-index: -1;
}